@{
    ViewData["Title"] = "Index";
}
@model List<CategoryListDTO>


<a class="btn btn-primary" asp-controller="Category" asp-action="Save">Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </tbody>
</table>
