@model List<ProductListDTO>

<a class="btn btn-primary" asp-controller="Product" asp-action="AddProducts">Yeni Ürün Ekle</a>
<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ürün Id</th>
            <th>Ürün Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
            </tr>
        }
    </tbody>
</table>